* {
    margin: 0%;
}

body {
    background-image: url(/Images/towers.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100vh;

}

h1 {
    text-align: center;
    padding-top: ;
}