/* .logos {
    width: 300px; /* Adjust the container size as needed */
    height: 300px;
    position: relative;
    perspective: 1000px; /* Create a 3D perspective effect */
  } */
  
  /* img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s; /* Transition for smooth rotation */
  } */
  
  /* Define the animation */
  /* @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .logos:hover img {
    animation: spin 4s linear infinite; /* Adjust duration as needed */
  } */
  
  