@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.headingthing {
       margin: 0;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%, -50%);
       text-align: center;
       background: #000000;
       padding: 10px;
       font-size: 30px;
       border-radius: 5px;
       opacity: 90%;
       color: white;
       font-family: 'Lexend Deca', sans-serif;
       box-shadow: 0px 0px 20px black;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #000000;
    color: white;
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.counterlink{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.fa-brands:hover {
    opacity: 0.7;
}

.fa-brands {
    text-decoration: none;
    color: white;
    background-color: transparent;
    text-align: center;
    font-size: xx-large;
    padding: 1px 1px;
}

.button {
    padding: 1px 1px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    padding: 8px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    opacity: 90%;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    
}

a:link {
    text-decoration: none;
}

