ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: inline;
    padding-right: 10px;

}

li a {
    display: block;
    padding-right: 10px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    opacity: 90%;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    
}