ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: inline;
    padding-right: 3px;
    padding-top: 3px;

}

li a, li p {
    display: block;
    /* padding-right: 10px; */
    padding: 5px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    opacity: 90%;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    transition-duration: 0.5;
    text-decoration: none;
    
}

li a:hover {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    
    
}

a:link !im {
    text-decoration: none;
}
