ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: inline;
    padding-right: 3px;
    padding-top: 3px;

}

li a, li p {
    display: block;
    /* padding-right: 10px; */
    padding: 5px;
    background: rgba(0, 0, 0, 0.181); /* Updated for better opacity handling */
    border-radius: 5px;
    color: white;
    opacity: 90%;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    transition-duration: 0.5;
    text-decoration: none;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
}

li a:hover {
    background: rgba(0, 0, 0, 0.429); /* Updated for better opacity handling */
    /* color: black; */
    text-decoration: none;
}
