
body {
    background-image: linear-gradient(#ff0000,#002fff);
    background-attachment: fixed;

}
.discord {
    text-align: center;
}

.logos {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center; 
    font-size: 70px;
    transition-duration: 1s;
    color: #fafafa;
    filter: invert(0%);
}

h1:hover {
    /* font-size: 100px; */
    transition-duration: 0.5s;
    filter: invert(100%);
}

p {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 30px;
    transition-duration: 0.5s;
    margin-left: 10%;
    margin-right: 10%;
}
